<div class="row d-flex align-items-center"style="padding: 30px;">
  <div class="col-md-12 col-md-of text-center">
   <div class="login">
    <h1>ログイン</h1>
    <%= form_with(model: @user, url: session_path(@user)) do |f| %>
      <p class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </p>
      <p class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </p>
      <% if devise_mapping.rememberable? %>
      <p class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </p>
      <% end %>
      <div><%= f.submit "✔︎", class: 'btn btn-primary' %></div>
      <% end %>

      <div class="mx-auto p-4" style="width: 200px;"></div><!-- 余白 -->
    </div>
  </div>
</div>
