<div class="container">
  <div class="row">
    <div class=" col-md-2">
    <div class="mx-auto p-2" style="width: 200px;"></div><!-- 余白 -->
        <%= link_to "＜戻る", mypage_path,class: "btn btn-sm btn-secondary" %>
    </div>
    <div class="col-md-8 mx-auto">
  		<h1>編集する</h1>
  		<% if current_user.errors.any? %>
      <%= current_user.errors.count %>件のエラーが発生しました
      <ul>
        <% current_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
  　　</ul>
　　　<% end %>
  		<%= form_with model: current_user do |f| %>
  		  <div class="form-group">
  		  <h4>ユーザーネーム</h4>
  		  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
        </div>
        <div class="form-group">
          <%= f.submit '更新' %>
          <% end %>
        </div>
    </div>
  </div>
</div>